@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* overflow-y: hidden; */
}

.text-lg1 {
  font-size: 20px;
}

.mobile-menu {
  display: none;
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  opacity: 1;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  opacity: 0.3;
}

::-webkit-scrollbar {
  width: 0px;
  /* background-color: #ffffff; */
}

::-webkit-scrollbar-track {
  padding: 10px;
  border-radius: 20px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #001529;
  border-radius: 40px;
}

@media (max-width: 1480px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

@media (max-width: 640px) {
}

@media (max-width: 575px) {
}

@media (max-width: 480px) {
}

@media (max-width: 360px) {
}

@media (max-width: 280px) {
}
