@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* overflow-y: hidden; */
}

.text-lg1 {
  font-size: 20px;
}

.mobile-menu {
  display: none;
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  opacity: 1;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  opacity: 0.3;
}
/* 
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  padding: 10px;
  border-radius: 20px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #001529;
  border-radius: 40px;
}

.main {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
} */
.common-card {
  width: 350px;
}

.service-card .ant-card-body {
  padding: 15px;
}

.team-card .ant-card-body {
  padding-top: 10px;
}

@media (max-width: 1480px) {
}

/* Ant Breakpoint */
@media (max-width: 1199px) {
  .common-card {
    width: 310px;
  }
}

/* Ant Breakpoint */
@media (max-width: 991px) {
  .common-card {
    width: 270px;
  }
}

/* Custom */
@media (max-width: 900px) {
  .common-card {
    /* width: 240px; */
  }
}

/* Custom */
@media (max-width: 867px) {
  .common-card {
    width: 320px;
  }
}

/* Ant Breakpoint */
@media (max-width: 767px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
  .common-card {
    width: 320px;
  }
}

/* Custom */
@media (max-width: 677px) {
  .common-card {
    width: 300px;
  }
}

/* Custom */
@media (max-width: 640px) {
  .common-card {
    width: 270px;
  }
}

/* Ant Breakpoint */
@media (max-width: 576px) {
  .common-card {
    width: 220px;
  }
}

/* Ant Breakpoint */
@media (max-width: 480px) {
  .common-card {
    width: 85%;
  }
}

/* Custom */
@media (max-width: 360px) {
  .common-card {
    width: 90%;
  }
}

/* Custom */

@media (max-width: 280px) {
}
